<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>夕夕用户登录</title>
    <meta name="description" content="particles.js is a lightweight JavaScript library for creating particles.">
    <meta name="author" content="Vincent Garreau" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <link rel="stylesheet" media="screen" href="../css/login.css">
    <link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css">
</head>
<body>
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<!-- import Vue before Element -->
<script src="https://unpkg.com/vue/dist/vue.js"></script>

<script src="https://unpkg.com/element-ui/lib/index.js"></script>
<script src="../js/utils.js"></script>
<!-- particles.js container -->
<div id="particles-js" style="display: flex;align-items: center;justify-content: center">
</div>
<div class="login-page">
    <div class="login-content">
        <div class="login-tit">登录</div>
        <div id="app">
            <el-input type="text" placeholder="用户名/手机号" v-model="username"
                   style="width: 90%;
                 margin:20px auto 0 auto;
                 background: rgba(0, 0, 0, 0);
                 border: 0;
                 height: 30px;
                 width: 100%;
                 line-height: 30px;
                 color: #fff;
                 border-bottom: 1px solid rgba(40, 144, 250, 0.4);
                 outline:none;"></el-input>
            <el-input type="password" placeholder="密码" v-model="password"
                   style="width: 90%;
                 margin: 20px auto 0 auto;
                 background: rgba(0, 0, 0, 0);
                 border: 0;
                 height: 30px;
                 width: 100%;
                 color: #fff;
                 border-bottom: 1px solid rgba(40, 144, 250, 0.4);
                 outline:none;"></el-input>
            <el-button type="primary" style="margin-top: 40px" @click="login">登录</el-button>
        </div>

    </div>
</div>


<!-- scripts -->
<script src="../js/particles.js"></script>
<script src="../js/app.js"></script>
<script>
    let _this = new Vue( {
        el:'#app',
        data:{
            username:'',
            password:'',
        },
        methods:{
            login:function() {
                postRequest("/userServlet?method=userLogin",{
                    user_name: _this.username,
                    user_pass:_this.password,
                }).then(resp => {
                    if(resp.data.data == true) {
                        _this.$message('登录成功');
                        location.href = "/userFront/index.html";
                    }else {
                        _this.$message('登录失败');
                    }

                })
            },
        }
    } );
    function changeImg(){
        let pic = document.getElementById('picture');
        console.log(pic.src)
        if(pic.getAttribute("src",2) ==="../img/check.png"){
            pic.src ="../img/checked.png"
        }else{
            pic.src ="../img/check.png"
        }
    }
</script>
</body>
</html>