<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml" >
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="pragma" content="no-cache">
    <meta http-equiv="cache-control" content="no-cache">
    <meta http-equiv="expires" content="0">

    <title>夕夕用户注册</title>
    <link rel="icon" href="../images/favicon.ico" type="image/x-icon"/>
    <link rel="shortcut icon" href="../images/favicon.ico" type="image/x-icon"/>
    <link href="../css/default.css" rel="stylesheet" type="text/css" />
    <!--必要样式-->
    <link href="../css/styles.css" rel="stylesheet" type="text/css" />
    <link href="../css/demo.css" rel="stylesheet" type="text/css" />
    <link href="../css/loaders.css" rel="stylesheet" type="text/css" />
    <script src="../js/jquery-2.1.1.min.js"></script>

    <link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css">


</head>
<body>
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<!-- import Vue before Element -->
<script src="https://unpkg.com/vue/dist/vue.js"></script>

<script src="https://unpkg.com/element-ui/lib/index.js"></script>
<script src="../js/utils.js"></script>
<div id="app">
    <div class='login'>

        <!--<img class="MyLogo" src="../images/logo01.png" alt="   LOGO">-->


           <el-row :gutter="24" style="margin-top: -60px">
               <el-col :span="6" style="padding: 0px">
                   <div style="font-size: large;font-family: 方正粗黑宋简体;color:orangered"> 夕夕网 </div>
                   <div style="font-family: 方正粗黑宋简体;color:orangered">xixi.com</div>
               </el-col>
               <el-col :span="6" :offset="2">
                   <div style="font-size: large;font-family: 华文仿宋 ;margin-top: 10px;margin-left: -50px">用户注册</div>
               </el-col>
           </el-row>




           <el-row :gutter="24" style="margin-top: 50px">
               <el-col :span="7"><div>用户名:</div></el-col>
               <el-col :span="17"> <el-input placeholder="请输入用戶名" v-model="username" size="small"></el-input></el-col>
           </el-row>

            <el-row :gutter="24" style="margin-top: 20px">
                <el-col :span="7"><div style="margin-top: 5px">昵&nbsp;&nbsp;称:</div>
                </el-col>
                <el-col :span="17"><div>
                    <el-input placeholder="请设置昵称" v-model="nick"size="small"></el-input>
                </div>
                </el-col>
            </el-row>


           <el-row :gutter="24" style="margin-top: 20px">
               <el-col :span="7"><div style="margin-top: 5px">密&nbsp;&nbsp;码:</div>
               </el-col>
               <el-col :span="17"><div>
                   <el-input placeholder="请输入密码" v-model="password" show-password size="small"></el-input>
               </div>
               </el-col>
           </el-row>


           <el-row :gutter="24" style="margin-top: 20px">
               <el-col :span="7"><div style="margin-top: 5px">手机号:</div>
               </el-col>
               <el-col :span="17"><div>
                   <el-input placeholder="请输入手机号码" v-model="phone" size="small"></el-input>
               </div>
               </el-col>
           </el-row>
            <div class='validation' style="opacity: 1; right: -5px;top: -3px;">
                <canvas class="J_codeimg" id="myCanvas" onclick="Code();">对不起，您的浏览器不支持canvas，请下载最新版浏览器!</canvas>
            </div>

            <el-row :gutter="24" style="margin-top: 50px">
                <el-col :span="6" :offset="6"><div>
                    <el-button type="primary" @click="donghua">注&nbsp;&nbsp;册</el-button>
                </div></el-col>
            </el-row>
            <div class='success'>
            </div>
            <div class='disclaimer'>
                <el-link type="danger" href="index.html">返回主页</el-link>
            </div>

    </div>
    <div class='authent'>
        <div class="loader" style="height: 60px;width: 60px;margin-left: 28px;margin-top: 40px">
            <div class="loader-inner ball-clip-rotate-multiple">
                <div></div>
                <div></div>
                <div></div>
            </div>
        </div>
        <p>注册中...</p>
    </div>
    <div class="OverWindows"></div>
</div>

<link href="../layui/css/layui.css" rel="stylesheet" type="text/css" />
<!--<script src="http://www.jq22.com/jquery/jquery-1.10.2.js"></script>-->
<script type="text/javascript" src="../js/jquery-ui.min.js"></script>
<script type="text/javascript" src='../js/stopExecutionOnTimeout.js?t=1'></script>
<script src="../layui/layui.js" type="text/javascript"></script>
<script src="../js/Particleground.js" type="text/javascript"></script>
<script src="../js/Treatment.js" type="text/javascript"></script>
<script src="../js/jquery.mockjax.js" type="text/javascript"></script>
<script src="../js/controlLogin.js" type="text/javascript"></script>
<script>
    var _this = new Vue ({
        el:'#app',
        data:{
            nick:'',
            phone:'',
            username:'',
            password:'',
        },
        methods: {
            add: function () {
                var user = {username: this.username, password: this.password}
                for (var i = 0; i <= this.users.length - 1; i++) {
                    if (this.users[i].username == user.username) {
                        alert("用户名已存在！！！")
                        return;
                    } else {
                        this.users.push(user)
                        alert("注册成功！！！")
                        return;
                    }
                }
            },
            donghua:function() {
                fullscreen();
                $('.login').addClass('test'); //倾斜特效
                setTimeout(function () {
                    $('.login').addClass('testtwo'); //平移特效
                }, 300);
                setTimeout(function () {
                    $('.authent').show().animate({ right: -320 }, {
                        easing: 'easeOutQuint',
                        duration: 600,
                        queue: false
                    });
                    $('.authent').animate({ opacity: 1 }, {
                        duration: 200,
                        queue: false
                    }).addClass('visible');
                }, 500);



                //登陆
                var JsonData = { login: "admin", pwd: "admin123"};
                //此处做为ajax内部判断
                var url = "";
                if(JsonData.login == truelogin && JsonData.pwd == truepwd){
                    url = "Ajax/Login";
                }else{
                    url = "Ajax/LoginFalse";
                }

                AjaxPost(url, JsonData,
                    function () {
                        //ajax加载中
                    },
                    function (data) {
                        //ajax返回





                        //认证完成
                        setTimeout(function () {
                            console.log(data)
                            $('.authent').show().animate({ right: 90 }, {
                                easing: 'easeOutQuint',
                                duration: 600,
                                queue: false
                            });
                            $('.authent').animate({ opacity: 0 }, {
                                duration: 200,
                                queue: false
                            }).addClass('visible');
                            $('.login').removeClass('testtwo'); //平移特效
                        }, 2000);






                        setTimeout(function () {
                            console.log(data)
                            $('.authent').hide();
                            // $('.login').removeClass('test');
                            if (data.Status == 'ok') {

                                //登录成功
                                $('.login div').fadeOut(100);
                                $('.success').fadeIn(1000);
                                $('.success').html(data.Text);
                                // window.location.href="paye_319/indexNav.html";
                                // //跳转操作
                                postRequest("/userServlet?method=userRegister",{
                                    user_name:_this.username,
                                    user_pass:_this.password,
                                    user_nick:_this.nick,
                                    user_phone:_this.phone
                                }).then(resp => {
                                    if(resp.data.data == true) {
                                        location.href='/userFront/index.html'
                                    }else{
                                        alert("注册失败，请重新输入")
                                    }
                                })

                            } else {
                                AjaxErro(data);
                            }
                        }, 2400);
                    })


            }
        }
    })
</script>
</body>
</html>
