<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css">
    <link rel="stylesheet" href="css/bootstrap.css" />
</head>
<body>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <!-- import Vue before Element -->
    <script src="https://unpkg.com/vue/dist/vue.js"></script>

    <script src="https://unpkg.com/element-ui/lib/index.js"></script>
    <script src="../js/utils.js"></script>
    <script src="../js/vue.js"></script>
    <div id="app">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h3 class="panel-title">添加品牌</h3>
            </div>
            <div class="panel-body form-inline">
                <lable>Id:
                    <input type="text" class="form-control" v-model="id"/>
                </lable>
                <lable>Name:
                    <input type="text" class="form-control" v-model="name" @keyup.enter="add"/>
                </lable>
                <input type="button" value="添加" class="btn btn-primary" @click="add"/>
                <lable>搜索名称关键字:
                    <input type="text" class="form-control" v-model="keywords"/>
                </lable>
            </div>
        </div>
        <table class="table table-bordered table-hover table-striped">
            <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Address</th>
                <th>Ctime</th>
                <th>Operation</th>
            </tr>
            </thead>
            <tbody>
            <tr v-for="item in search(keywords)" :key="item.id">
                <td>{{item.id}}</td>
                <td>{{item.name}}</td>
                <td>{{item.address}}</td>
                <td>{{item.ctime | dataFormat}}</td>
                <td><a href="" @click.prevent="del(item.id)">删除</a></td>
            </tr>
            </tbody>
        </table>
    </div>
    <script>
        Vue.filter('dataFormat',function(dataStr){
            var dt = new Date(dataStr)
            var y = dt.getFullYear()
            var m = dt.getMonth()+1
            var d = dt.getDate()
            return `${y}-${m}-${d}`
        })
        var vm = new Vue({
            el:'#app',
            data:{
                list: [
                    {url:'/images/001.jpg',id:1,name:111,price:'¥25'},
                    {url:'/images/1.jpg',id:2,name:222,price:'¥26'},
                    {url:'/images/002.png',id:3,name:333,price:'¥27'},
                    {url:'/images/003.png',id:4,name:444,price:'¥28'}
                ],
                tableData: [{
                    ctime:new Date(),
                    name: '王小虎',
                    address: '上海市普陀区金沙江路 1518 弄',
                    id:1
                }, {
                    ctime:new Date(),
                    name: '王小虎',
                    address: '上海市普陀区金沙江路 1517 弄',
                    id:2
                }, {
                    ctime:new Date(),
                    name: '王小虎',
                    address: '上海市普陀区金沙江路 1519 弄',
                    id:3
                }, {
                    ctime:new Date(),
                    name: '王小虎',
                    address: '上海市普陀区金沙江路 1516 弄',
                    id:4
                }]
            },
            methods: {
                add() {
                    //console.log('ok')
                    var car = { id:this.id,name:this.name,ctime:new Date() }
                    this.tableData.push(car)
                    this.id = this.name = ''
                },
                del(id) {
                    this.list.some((item,i) => {
                        if(this.id == id) {
                            this.tableData.splice(i,1);
                            return true;
                        }
                    })
                },
                search(keywords) {
                    return this.tableData.filter(item => {
                        if(item.name.includes(keywords)) {
                            return item
                        }
                    })
                }
            }
        })
    </script>

</body>
</html>