<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>商家管理</title>
    <link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css">
    <style>
        .el-header, .el-footer {
            background-color: #B3C0D1;
            color: #333;
            text-align: center;
            line-height: 60px;
        }

        .el-aside {
            background-color: #D3DCE6;
            color: #333;
            text-align: center;
            line-height: 200px;
        }

        .el-main {
            background-color: #E9EEF3;
            color: #333;
            text-align: center;
            line-height: 160px;
        }

        body > .el-container {
            margin-bottom: 40px;
        }

        .el-container:nth-child(5) .el-aside,
        .el-container:nth-child(6) .el-aside {
            line-height: 260px;
        }

        .el-container:nth-child(7) .el-aside {
            line-height: 320px;
        }
    </style>
</head>
<body>
<div id="app">
    <el-row>
        <el-menu class="el-menu-demo"
                 mode="horizontal"
                 v-model="userData">
            <el-menu-item index="1">商家管理模块</el-menu-item>
            <el-submenu id="nick" index="2">
                <template slot="title">
                    <i class="el-icon-user"></i>
                    <span>{{userData.nick}}</span>
                </template>
                <el-menu-item index="3">
                    <i class="el-icon-back"></i>
                    <span slot="title">注销</span>
                </el-menu-item>
                <el-menu-item index="4">
                    <i class="el-icon-setting"></i>
                    <span slot="title">修改信息</span>
                </el-menu-item>
            </el-submenu>
        </el-menu>
    </el-row>
    <el-row>
        <el-col :span="3">
            <el-aside width="200px">
                <el-menu
                        default-active="3"
                        class="el-menu-vertical-demo">
                    <el-submenu index="1">
                        <template slot="title">
                            <i class="el-icon-s-goods"></i>
                            <span>商品</span>
                        </template>
                        <el-menu-item index="1-1" @click="location('selling.html')">
                            <i class="el-icon-shopping-bag-1"></i>
                            <span slot="title">正在售卖</span>
                        </el-menu-item>
                        <el-menu-item index="1-2" @click="location('sell.html')">
                            <i class="el-icon-sell"></i>
                            <span slot="title">预热</span>
                        </el-menu-item>
                        <el-menu-item index="1-3" @click="location('sold-out.html')">
                            <i class="el-icon-sold-out"></i>
                            <span slot="title">已下架</span>
                        </el-menu-item>
                    </el-submenu>
                    <el-menu-item index="2">
                        <i class="el-icon-s-opportunity"></i>
                        <span slot="title">活动</span>
                    </el-menu-item>
                    <el-menu-item index="3" @click="location('orders.html')">
                        <i class="el-icon-s-order"></i>
                        <span slot="title">订单</span>
                    </el-menu-item>
                </el-menu>
            </el-aside>
        </el-col>
        <el-col :span="21">
            <el-row>
                <div style="height: 20px"></div>
            </el-row>
            <el-row>
                <el-col :span="4">
                    <el-input v-model="searchData.user_name" placeholder="用户关键字"></el-input>
                </el-col>
                <el-col :span="4">
                    <el-input v-model="searchData.item_name" placeholder="商品关键字"></el-input>
                </el-col>
                <el-col :span="2">
                    <el-button @click="handleSearch()">
                        <i class="el-icon-search"></i>
                        搜索
                    </el-button>
                </el-col>
            </el-row>
            <el-table
                    :data="tableData"
                    style="width: 100%"
            >
                <el-table-column
                        prop="order_id"
                        label="订单编号"
                        width="180">
                </el-table-column>
                <el-table-column
                        prop="order_date"
                        label="日期"
                        sortable
                        width="200">
                </el-table-column>
                <el-table-column
                        prop="user_nick"
                        label="昵称"
                        sortable
                        width="100">
                </el-table-column>
                <el-table-column
                        prop="user_realname"
                        label="姓名"
                        sortable
                        width="100">
                </el-table-column>
                <el-table-column
                        prop="item_name"
                        label="商品名"
                        sortable>
                </el-table-column>
                <el-table-column
                        prop="order_count"
                        label="数量">
                </el-table-column>
                <el-table-column
                        prop="order_location"
                        label="配送地址">
                </el-table-column>
                <el-table-column
                        prop="is_Send"
                        label="是否发货">
                </el-table-column>
                <el-table-column>
                    <template slot-scope="scope">
                        <el-button class="el-button--success" @click="showDialog(scope.row)" :disabled="canUse(scope.row)">发货</el-button>
                        <el-button class="el-button--primary" @click="showInfos(scope.row)" :disabled="!canUse(scope.row)">查看详情</el-button>
                    </template>
                </el-table-column>
            </el-table>
            <el-row>
                <el-col :span="8" :offset="6">
                    <el-pagination
                            @size-change="handleSizeChange"
                            @current-change="handleCurrentChange"
                            :current-page.sync="currentPage"
                            :page-sizes="[10, 20, 30]"
                            :page-size="10"
                            layout="sizes, prev, pager, next"
                            :total="1000">
                    </el-pagination>
                </el-col>
            </el-row>
        </el-col>
    </el-row>
    <el-dialog title="发货信息" :visible.sync="visible">
        <el-form :model="dialogData">
            <el-form-item label="订单编号" :label-width="formLabelWidth">
                <el-input v-model="dialogData.order_id" autocomplete="off" disabled></el-input>
            </el-form-item>
            <el-form-item label="订单创建日期" :label-width="formLabelWidth">
                <el-input v-model="dialogData.date" autocomplete="off" disabled></el-input>
            </el-form-item>
            <el-form-item label="目的地" :label-width="formLabelWidth">
                <el-input v-model="dialogData.destination" autocomplete="off"></el-input>
            </el-form-item>
            <el-form-item label="始发地" :label-width="formLabelWidth">
                <el-input v-model="dialogData.original" autocomplete="off"></el-input>
            </el-form-item>
            <el-form-item label="运单号" :label-width="formLabelWidth">
                <el-input v-model="dialogData.waybill_id" autocomplete="off"></el-input>
<!--                <el-date-picker type="datetime" v-model="dialogData.send_date" value-format="yyyy-MM-dd HH:mm:ss" style="width: 100%;"></el-date-picker>-->
            </el-form-item>
        </el-form>
        <div slot="footer" class="dialog-footer">
            <el-button @click="visible = false">取 消</el-button>
            <el-button type="primary" @click="sendOrderInfos()">确 定</el-button>
        </div>
    </el-dialog>

    <el-dialog title="发货信息" :visible.sync="visible1">
        <el-form :model="dialogData">
            <el-form-item label="订单编号" :label-width="formLabelWidth">
                <el-input v-model="dialogData.order_id" autocomplete="off" disabled></el-input>
            </el-form-item>
            <el-form-item label="下单日期" :label-width="formLabelWidth">
                <el-input v-model="dialogData.date" autocomplete="off" disabled></el-input>
            </el-form-item>
            <el-form-item label="目的地" :label-width="formLabelWidth">
                <el-input v-model="dialogData.destination" autocomplete="off" disabled></el-input>
            </el-form-item>
            <el-form-item label="始发地" :label-width="formLabelWidth">
                <el-input v-model="dialogData.original" autocomplete="off" disabled></el-input>
            </el-form-item>
            <el-form-item label="运单号" :label-width="formLabelWidth">
                <el-input v-model="dialogData.waybill_id" autocomplete="off" disabled></el-input>
                <!--                <el-date-picker type="datetime" v-model="dialogData.send_date" value-format="yyyy-MM-dd HH:mm:ss" style="width: 100%;"></el-date-picker>-->
            </el-form-item>
            <el-form-item label="发货日期" :label-width="formLabelWidth">
                <el-input v-model="dialogData.send_date" autocomplete="off" disabled></el-input>
            </el-form-item>
            <el-form-item label="收货日期" :label-width="formLabelWidth">
                <el-input v-model="dialogData.get_date" autocomplete="off" disabled></el-input>
            </el-form-item>
        </el-form>
    </el-dialog>
</div>
</body>
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<script src="https://unpkg.com/vue/dist/vue.js"></script>
<script src="https://unpkg.com/element-ui/lib/index.js"></script>
<script src="../js/utils.js"></script>
<script>
    var _this = new Vue({
        el: '#app',
        //数据的存储位置
        data() {
            return {
                userData:{
                    shop_id:'0',
                    nick:'blockdusty',
                },
                searchData:{
                    user_name:'',
                    item_name:'',
                },
                dialogData:{
                    order_id:'',
                    date:'',
                    destination:'',
                    waybill_id:'',
                    original:'',
                    send_date:'',
                    get_date:'',
                },
                activeIndex:3,
                visible: false,
                visible1:false,
                input:'',
                username:'',
                password:'',
                currentPage: 1,
                tableData: [],
                formLabelWidth: '120px',
            }
        },
        //js的方法
        methods:{
            location: function(url) {
                location.href=url;
            },
            handleSizeChange: function(val) {
                console.log('每页 ${val} 条');
            },
            handleCurrentChange: function(val) {
                console.log('当前页: ${val}');
            },
            handleSearch: function() {
                postRequest("/order?method=getOrders",{
                    shop_id:_this.userData.shop_id,
                    user_realname:_this.searchData.user_name,
                    item_name:_this.searchData.item_name,
                }).then(resp => {
                    _this.tableData=[];
                    _this.tableData=resp.data.data;
                })
            },
            getLoginInfo: function (a) {
                a.userData.shop_id='0';
                a.userData.nick='BlockDusty';
                postRequest("/order?method=getOrders",{
                    shop_id:a.userData.shop_id,
                }).then(resp => {
                    a.tableData=[];
                    a.tableData=resp.data.data;
                })
            },
            showInfos: function(row) {
                postRequest("/order?method=getWaybillInfo",{
                    order_id:row.order_id,
                }).then(resp => {
                    var data = resp.data.data;
                    _this.dialogData.order_id = data.order_id;
                    _this.dialogData.date = row.date;
                    _this.dialogData.destination = data.destination;
                    _this.dialogData.waybill_id = data.waybill_id;
                    _this.dialogData.original = data.original;
                    _this.dialogData.send_date = data.send_date;
                    _this.dialogData.get_date = data.get_date;
                    _this.visible1 = true;
                })
            },
            showDialog: function(row) {
                _this.dialogData.order_id=row.order_id;
                _this.dialogData.date=row.order_date;
                _this.visible=true;
            },
            sendOrderInfos: function () {
                postRequest("/order?method=sendOrderInfos",_this.dialogData).then(resp=> {
                    if(resp.data.data === true) {
                        this.$message.success("发货成功");
                        _this.visible= false;
                        _this.dialogData=[];
                        _this.handleSearch();
                    }else {
                        this.$message.error("发货失败,请重试");
                    }
                })
            },
            canUse(row) {
                return row.is_Send==='未发货'?false:true;
            },
        },
        //dom元素渲染时调用的方法
        mounted:function() {
            this.getLoginInfo(this);
        }
    })
</script>
<style scope>
    #nick{
        float: right;
    }
</style>
</html>