<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>商家管理</title>
    <link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css">
    <style>
        .avatar-uploader .el-upload {
            border: 1px dashed #d9d9d9;
            border-radius: 6px;
            cursor: pointer;
            position: relative;
            overflow: hidden;
        }
        .avatar-uploader .el-upload:hover {
            border-color: #409EFF;
        }
        .avatar-uploader-icon {
            font-size: 28px;
            color: #8c939d;
            width: 150px;
            height: 150px;
            line-height: 150px;
            text-align: center;
        }
        .avatar {
            width: 150px;
            height: 150px;
            display: block;
        }
        /*.el-header, .el-footer {*/
        /*    background-color: #B3C0D1;*/
        /*    color: #333;*/
        /*    text-align: center;*/
        /*    line-height: 60px;*/
        /*}*/
        
        /*.el-aside {*/
        /*    background-color: #D3DCE6;*/
        /*    color: #333;*/
        /*    text-align: center;*/
        /*    line-height: 200px;*/
        /*}*/
        
        /*.el-main {*/
        /*    background-color: #E9EEF3;*/
        /*    color: #333;*/
        /*    text-align: center;*/
        /*    line-height: 160px;*/
        /*}*/
        
        /*body > .el-container {*/
        /*    margin-bottom: 40px;*/
        /*}*/

        .el-container:nth-child(5) .el-aside,
        .el-container:nth-child(6) .el-aside {
            line-height: 260px;
        }

        .el-container:nth-child(7) .el-aside {
            line-height: 320px;
        }
    </style>
</head>
<body>
<div id="app">
<!--    header 部分-->
    <el-row>
        <el-menu class="el-menu-demo"
                 mode="horizontal"
                 v-model="userData">
            <el-menu-item index="1">商家管理模块</el-menu-item>
            <el-submenu id="nick" index="2">
                <template slot="title">
                    <i class="el-icon-user"></i>
                    <span>{{userData.nick}}</span>
                </template>
                <el-menu-item index="3">
                    <i class="el-icon-back"></i>
                    <span slot="title">注销</span>
                </el-menu-item>
                <el-menu-item index="4">
                    <i class="el-icon-setting"></i>
                    <span slot="title" @click="showChangeInfo()">修改信息</span>
                </el-menu-item>
            </el-submenu>
        </el-menu>
    </el-row>
    
<!--    主体部分-->
    <el-container>
        <el-aside width="200px">
            <el-menu
                    default-active="1-3"
                    class="el-menu-vertical-demo">
                <el-submenu index="1">
                    <template slot="title">
                        <i class="el-icon-s-goods"></i>
                        <span>商品</span>
                    </template>
                    <el-menu-item index="1-1" @click="location('selling.html')">
                        <i class="el-icon-shopping-bag-1"></i>
                        <span slot="title">正在售卖</span>
                    </el-menu-item>
                    <el-menu-item index="1-2" @click="location('sell.html')">
                        <i class="el-icon-sell"></i>
                        <span slot="title">预热</span>
                    </el-menu-item>
                    <el-menu-item index="1-3" @click="location('sold_out.html')">
                        <i class="el-icon-sold-out"></i>
                        <span slot="title">已下架</span>
                    </el-menu-item>
                </el-submenu>
                <el-menu-item index="2">
                    <i class="el-icon-s-opportunity"></i>
                    <span slot="title">活动</span>
                </el-menu-item>
                <el-menu-item index="3" @click="location('orders.html')">
                    <i class="el-icon-s-order"></i>
                    <span slot="title">订单</span>
                </el-menu-item>
            </el-menu>
        </el-aside>
        <el-main>
            <el-row>
                <div style="height: 20px"></div>
            </el-row>
            <el-row>

                <el-col :span="4">
                    <el-input v-model="searchData.item_name" placeholder="商品关键字"></el-input>
                </el-col>
                <el-col :span="2">
                    <el-button @click="handleSearch()">
                        <i class="el-icon-search"></i>
                        搜索
                    </el-button>
                </el-col>
            </el-row>
            <el-table
                    :data="tableData"
                    style="width: 100%"
            >
                <el-table-column
                        prop="item_id"
                        label="商品ID"
                        sortable>
                </el-table-column>
                <el-table-column
                        prop="item_statu"
                        label="审核状态"
                        sortable>
                </el-table-column>
                <el-table-column
                        prop="item_photouri"
                        label="商品预览"
                        width="200">
                </el-table-column>
                <el-table-column
                        prop="item_name"
                        label="商品名"
                        sortable
                        width="180">
                </el-table-column>
                <el-table-column
                        prop="item_type"
                        label="商品类型"
                        sortable>
                </el-table-column>
                <el-table-column
                        prop="item_amount"
                        label="库存">
                </el-table-column>

                <el-table-colum width="400">
                    <template slot-scope="scope">
                        <el-button class="el-button--success" @click="modifyInfos(scope.row)">修改信息</el-button>
                        <el-button class="el-button--danger" @click="discountinue(scope.row)">上架商品</el-button>
                    </template>
                </el-table-colum>
            </el-table>
            <el-row>
                <el-col :span="8" :offset="6">
                    <el-pagination
                            @size-change="handleSizeChange"
                            @current-change="handleCurrentChange"
                            :current-page.sync="currentPage"
                            :page-sizes="[10, 20, 30]"
                            :page-size="10"
                            layout="sizes, prev, pager, next"
                            :total="1000">
                    </el-pagination>
                </el-col>
            </el-row>
        <el-main>
    </el-container>
    
<!--    弹框部分-->
    <el-dialog title="修改商家信息" :visible.sync="changeInfo">
        <el-form ref="form" :model="dialogData1" label-width="80px">
            <el-form-item label="更改头像">
                <el-upload
                        class="avatar-uploader"
                        action="/uploadImage"
                        :show-file-list="false"
                        :on-success="handleAvatarSuccess"
                        :before-upload="beforeAvatarUpload">
                    <img v-if="dialogData.item_photouri" :src="dialogData.shop_photouri" class="avatar">
                    <i v-else class="el-icon-plus avatar-uploader-icon"></i>
                </el-upload>
            </el-form-item>
            <el-form-item label="店铺昵称">
                <el-input v-model="dialogData.shop_nick"></el-input>
            </el-form-item>
            <el-form-item label="店铺ID">
                <el-input v-model="dialogData.shop_id"></el-input>
            </el-form-item>
            <el-form-item label="店铺地址">
                <el-input v-model="dialogData.shop_location"></el-input>
            </el-form-item>
            <el-form-item>
                <el-button type="primary" @click="onSubmit">确认修改</el-button>
                <el-button @click="changeInfo=false">取消</el-button>
            </el-form-item>
        </el-form>
    </el-dialog>
    <el-dialog :title="title" :visible.sync="visible">
        <el-form :v-model="dialogData">
            <el-form-item label="商品名">
                <el-input v-model="dialogData.item_name" @input="flush()"></el-input>
            </el-form-item>
            <el-form-item label="商品图片">
                <el-upload
                        class="avatar-uploader"
                        action="/uploadImage"
                        :show-file-list="false"
                        :on-success="handleAvatarSuccess"
                        :before-upload="beforeAvatarUpload">
                    <img v-if="dialogData.item_photouri" :src="dialogData.item_photouri" class="avatar">
                    <i v-else class="el-icon-plus avatar-uploader-icon"></i>
                </el-upload>
            </el-form-item>
            <el-form-item label="商品类型">
                <el-input v-model="dialogData.item_type" @input="flush()"></el-input>
            </el-form-item>
            <el-form-item label="库存">
                <el-input v-model="dialogData.item_amount" @input="flush()"></el-input>
            </el-form-item>
        </el-form>
        <div slot="footer" class="dialog-footer">
            <el-button @click="visible = false">取 消</el-button>
            <el-button type="primary" @click="updateItem()">确 定</el-button>
        </div>
    </el-dialog>
    <el-dialog title="是否上架商品" :visible.sync="visible1">
        <div slot="footer" class="dialog-footer">
            <el-button @click="visible1 = false">取 消</el-button>
            <el-button type="primary" @click="uppershelfItem()">确 定</el-button>
        </div>
    </el-dialog>
</div>
</body>
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<script src="https://unpkg.com/vue/dist/vue.js"></script>
<script src="https://unpkg.com/element-ui/lib/index.js"></script>
<script src="../js/utils.js"></script>
<script>
    var _this = new Vue({
        el: '#app',
        //数据的存储位置
        data() {
            return {
                userData:{
                    shop_id:'0',
                    nick:'blockdusty',
                },
                searchData:{
                    user_name:'',
                    item_name:'',
                },
                activeIndex:3,
                input:'',
                username:'',
                password:'',
                currentPage: 1,
                tableData: [
                    {

                }],
                dialogData:{
                },
                visible:false,
                changeInfo:false,
                dialogData1:{},
            }
        },
        //js的方法
        methods:{
            location: function(url) {
                location.href=url;
            },
            handleSizeChange: function(val) {
                console.log('每页 ${val} 条');
            },
            handleCurrentChange: function(val) {
                console.log('当前页: ${val}');
            },
            showChangeInfo: function () {
                _this.changeInfo=true;
            },
            handleAvatarSuccess(res, file) {
                this.imageUrl = URL.createObjectURL(file.raw);
            },
            handleSearch: function() {
                postRequest("/order?method=getOrders",{
                    shop_id:_this.userData.shop_id,
                    user_realname:_this.searchData.user_name,
                    item_name:_this.searchData.item_name,
                }).then(resp => {
                    _this.tableData=[];
                _this.tableData=resp.data.data;
            })
            },
            /*修改商品信息*/
            modifyInfos: function(row) {
                _this.dialogData={};
                _this.dialogData.item_id = row.item_id;
                _this.dialogData.shop_id = row.shop_id;
                _this.dialogData.item_photouri = row.item_photouri;
                _this.dialogData.item_name = row.item_name;
                _this.dialogData.item_type = row.item_type;
                _this.dialogData.item_amount = row.item_amount;
                _this.visible=true;
            },
            discountinue: function(row) {
                _this.dialogData={};
                _this.dialogData.item_id = row.item_id;
                _this.dialogData.shop_id = row.shop_id;
                _this.visible1=true;
            },
            updateItem: function () {
                postRequest("/selling?method=updateItem",_this.dialogData).then(resp => {
                    if(resp.data.data === true) {
                        this.$message.success("商品信息已上传成功");
                        _this.dialogData=[];
                        _this.visible=false;
                        _this.visible3=false;
                        _this.handleSearch();
                    }else {
                        this.$message.error("商品信息上传失败,请重试");
                    }
                });
            },
            handleAvatarSuccess: function(res, file) {
                this.dialogData.item_photouri = URL.createObjectURL(file.raw);
            },
            beforeAvatarUpload: function(file) {
                const isJPG = file.type === 'image/jpeg';
                const isPNG = file.type === 'image/png';
                const isLt2M = file.size / 1024 / 1024 < 5;

                if (!isJPG) {
                    this.$message.error('上传头像图片只能是 JPG 格式!');
                }
                if (!isLt2M) {
                    this.$message.error('上传头像图片大小不能超过 5MB!');
                }
                return (isJPG || isPNG) && isLt2M;
            },
            uppershelfItem:function () {
                postRequest("/sell?method=uppershelfItem",this.dialogData).then(resp => {
                    if(resp.date.date == true) {
                        this.$message.success("商品已上架");
                        _this.dialogData={};
                        _this.visible=false;
                      _this.handleSearch();
                    }else{
                        this.$message.error("未知原因，商品上架失败，请重试！");
                    }
                })
            },
            getLoginInfo: function (a) {
                a.userData.shop_id='0';
                a.userData.nick='BlockDusty';
                postRequest("/order?method=getOrders",{
                    shop_id:a.userData.shop_id,
                }).then(resp => {
                    a.tableData=[];
                a.tableData=resp.data.data;
            })
            },
        },
        //dom元素渲染时调用的方法
        mounted:function() {
            this.getLoginInfo(this);
        }
    })
</script>
<style scope>
    #nick{
        float: right;
    }
</style>
</html>